@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    border: 1px solid black;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(184, 184, 184);
}

main {
    width: 100%;
    flex-grow: 1;
}

article {
    background-color: aqua;
    width: 100%;
}

.left-aside, .right-aside {
    width: 100%;
    background-color: orange;
    height: min-content;
}

footer {
    height: 50px;
    background-color: blue;
}

@media (min-width: 768px) {
    main {
        order: 2;
    }
    .left-aside {
        order: 1;
    }
    .right-aside {
        order: 3;
    }
    footer {
        order: 5;
    }
}